%html
    %head
        %link{:type=>"text/css", :href=>"stylesheets/css/main.css", :rel=>"stylesheet"}
        %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}

        %title
            FalconCSS | Examples
    %body
        %h1{:class=>"fal-text-align-center fal-text-decoration-underline fal-text-center"} FalconCSS

        %h2 Typography
        .fal-row
            %h1{:class=>"fal-text-decoration-overline"} Heading 1
            %h2 Heading 2
            %h3{:class=>"fal-text-align-right"} Heading 3
            %h4 Heading 4
            %h5{:class=>"fal-text-decoration-line-through"} Heading 5
            %h6 Heading 6
            %p Hi! I'm a paragraph!

        .fal-row
            %div{:class=>"fal-full-width fal-height-50 fal-position-fixed fal-outline"}
                %p{:class=>"fal-text-align-center"} IM FIXED BRO

        %h2 Grid System

        %h3 Responsive
        .grid
            .fal-row{:class=>"fal-text-center"}
                - 4.times do
                    %div{:class=>"fal-col-lg-3 fal-col-md-6 fal-col-xs-12 fal-outline"}
                        %p fal-col-lg-3 fal-col-md-6 fal-col-xs-12

        %h3 Customisable
        .fal-row{:class=>"fal-text-center fal-center"}
            %div{:class=>"fal-col-lg-4 fal-col-md-4 fal-col-xs-hidden fal-outline"}
                %p fal-col-lg-3 fal-col-md-6 fal-col-xs-12
            %div{:class=>"fal-col-lg-4 fal-col-md-4 fal-col-xs-6 fal-outline"}
                %p fal-col-lg-3 fal-col-md-6 fal-col-xs-12
            %div{:class=>"fal-col-lg-4 fal-col-md-4 fal-col-xs-6 fal-outline"}
                %p fal-col-lg-3 fal-col-md-6 fal-col-xs-12


            - $columns = 12
            - (1..$columns).each do |n|
                .fal-row{:class=>"fal-text-center"}
                    - (1..($columns/n)).each do |m|
                        %div{:class=>"fal-col-lg-#{n} fal-col-md-#{n} fal-col-xs-#{n} fal-outline"}
                            %p fal-col-lg-#{n} fal-col-md-#{n} fal-col-xs-#{n}
                    - if($columns%n != 0)
                        %div{:class=>"fal-col-lg-#{$columns%n} fal-col-md-#{$columns%n} fal-col-xs-#{$columns%n} fal-outline"}
                            %p fal-col-lg-#{$columns%n} fal-col-md-#{$columns%n} fal-col-xs-#{$columns%n}


        %div{:class=>"fal-width-400 fal-padding-small fal-height-50 fal-border fal-center"}
            %p{:class=>"fal-text-align-center"} lmaooo no css just classes..!!! centERED


        %h2{:class=>"fal-text-align-center"} Lists n shit

        %h6 This is a list!
        %ul{:class=>"fal-ul"}
            - (1..10).each do |i|
                %li #{i}

        %ol{:class=>"fal-ol"}
            - (1..10).each do |i|
                %li #{i}

        %h2{:class=>"fal-border fal-padding-tiny"} Buttons and links

        -# .fal-row
        -#     %a{:class=>"fal-btn-default"} Button
        -#     %button{:class=>"fal-btn-default"} Button

        - @colors = ['petal','poppy','stem','springGreen','mist','stone','shadow','autumnFoliage','sky','sunset','sunflower','grass','sandstone','burntOrange','sea','lagoon','hotPink','bubblegum','pollen','brandy','avocado','yellowPepper','aquaBlue','ripeTomato','sage','honey','bluebell','raspberry','electricBlue','banana','watermelon','cantelope','freshOrange','fuschia','lemonDrop','blueRaspberry','fresh','vermillion','sunshine','clean','papaya','mustard','blush','marine']

        - $checkNUM = 0
        - @colors.each do |color|
            - $checkNUM = $checkNUM + 1
            .fal-row
                %div{:class=>"fal-col-xs-12"}
                    %div{:class=>"fal-full-width fal-height-50 fal-overflow-visible fal-radius-10 fal-float-left fal-background-color-#{color}"}
                    - if($checkNUM%4 == 0)
                        - 10.times do
                            %br
